header {
  width: 100%;
  background-color: $dark-blue-color;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titulo-contenedor {
  display: flex;
  align-items: center;
}

h1 {
  color: $default-color;
  font-family: "Montserrat", sans-serif;
  font-size: 3.125rem;
  margin-left: 10px;
}

.icon {
  width: 10%;
}

#historia-futbol {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
}
