#modal {
  background-color: $dark-blue-color;
  position: fixed;
  left: 50%;
  top: 15%;
  transform: translate(-50%, 50%);
  width: 400px;
  height: 300px;
  padding: 15px 20px;
  border-radius: 10px;
  z-index: 1000;
}

.cubierta-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

.titulo-advertencia {
  text-align: center;
  color: $default-color;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 25px;
}

#icon-alert {
  margin: auto 150px;
  width: 70px;
}

.mensaje-advertencia {
  margin-top: 20px;
  font-size: 1.2rem;
}
