.contenedor-de-carga {
  display: flex;
  justify-content: center;
}

#spinner {
  width: 25%;
  display: none;
  @include mobile {
    width: 70%;
  }
  @include tablet {
    width: 60%;
  }
}
