* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $black-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: $black-color;
}

::-webkit-scrollbar-thumb {
  background: $dark-blue-color;
  border-radius: 6px;
}
